* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:#F4A460 url('https://www.transparenttextures.com/patterns/paper-fibers.png');
  color: #ff0000;
  line-height: 1.6;
  background-attachment: fixed;
}

header {
  background: linear-gradient(to right, #f39c12, #e74c3c);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/Nordeste_do_Brasil_Cultura.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

header h1, header p, header nav {
  position: relative;
  z-index: 2;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1rem;
}

header nav {
  margin-top: 1rem;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: 0.3s;
}

header nav a:hover {
  text-decoration: underline;
}

.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #e74c3c;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f39c12;
  display: inline-block;
  padding-bottom: 5px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card h3 {
  color: #f39c12;
  margin-top: 10px;
  padding-left: 1rem;
}

.card p {
  padding: 0.5rem 1rem 1rem 1rem;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

ul li {
  background: #ffe9c2;
  padding: 10px;
  margin-bottom: 8px;
  border-left: 5px solid #f39c12;
  border-radius: 5px;
}

footer {
  background: #e74c3c;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
